
.card-container {
  background-color: #ccc;
  max-width: 350px;
  background-color: #FAF9F6;
  color: #7863FC;
  border-radius: 10px;
}
.card-container img {
  width: 250px;
  height: 250px;
  background-color: #a7c7e7;
  border-radius: 10px;
}
.star-quiz-btn{
  background-color: #7863FC;
    color: aliceblue;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 0.3rem 2rem;
}
.right-arrow{
  width: 20px;
  height: 20px;
}
