@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.logo{
    color: #6063fc;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    font-size: 2.2rem;
    
}
